html::-webkit-scrollbar,
body::-webkit-scrollbar{
	width:0;
	height:0;
}

html,
body {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.panoramic-viewer {
    width: 100%;
    height: 100%;
    .source-image {
        display: none;
    }
    .source-canvas {
        display: none;
    }
    .viewport {
        width: 100%;
        height: 100%;
    }
}

.panoramic-viewer.fullscreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .viewport {
        width: 100%;
        height: 100%;
    }
}


.panoramic-viewer {
    .label {
        position: fixed;
        z-index: 100;
        top: 0;
        height: 50px;
        line-height: 50px;
        background: transparent;
        font-size: 50px;
        font-weight: 900;
        color: yellow;
        &:hover {
            cursor: pointer;
        }
    }
}